#title{
    background-color:#ff4c68;
}

.nav-color{
    background-color:#000000;
}

h2 {
    font-size: 45px;
}

h3 {
    font-family: "Montserrat-Bold-700";
}

p {
    color: #8f8f8f;
}

#heading{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    background-color : white;
}

.container-fluid{
    padding: 3% 15%;
}

#features{
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

#r1 {
    padding: 0% 7% 0% 0%;
}

#r2 {
    padding: 0% 7%;
}

#r3 {
    padding: 0% 0% 0% 7%;
}


.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials{
    color: #fff;
    background-color: #ff4c68;
    text-align: center;
    font-weight: bold;
}

.test-dog {
    width: 5%;
    padding: 12px 0px 0px;
    border-radius: 100%;
}

#press {
    background-color: #ff4c68;
    text-align: center;
}

.press-logo {
    padding: 2% 2%;
    width: 15rem;
}

.carousel-item{
    padding: 7% 7%;
}